body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: black;
    color: white;
}

.content {
    max-width: none;
}
img {
    width: 400px;
    height: auto;
    display: block;
    margin: 20px 0;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}
p {
    max-width: 1050px;
    line-height: 1;
}
